/* Vertical recipe cards */

.card-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.recipe-card{
    background-color: white;
    border: 0px white solid;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    width: 250px;
    margin: 50px;
    
}
.recipe-header{
    font-weight: bold;
    text-align: center;
    
}
.cook-time{
    text-decoration: underline;
}
.ingredients{
    padding-left: 10px;
}

.quickpancakes{
    background-image: url("../../assets/quickpancakes.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scrambledeggs{
    background-image: url("../../assets/scrambledeggs.webp");
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avocadotoast{
    background-image: url("../../assets/avocadotoast.avif");
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}